<!--  about/templates/about/cv.html -->
<!--Displays the cv-->
{% extends "base.html" %}
{% block page_title %}
    <h2>My CV</h2>
{% endblock page_title %}
{% block page_content %}
    <!--content of the cv page-->
    <h3>Yokoy AG / Zürich – Working Student Data Science</h3>
    <p>June 2022 – Present: Automatic recognition of invoice line items (Python, RegEx)</p>
    <h3>cyon GmbH / Basel – Customer Support</h3>
    <p>
        September 2019 – August 2021: Customer support in web hosting (HelpScout), software development (Python), realization of web project migrations (bash, SSH).
    </p>
    <h3>Zappit GmbH / Basel – Mobility Specialist</h3>
    <p>March 2018 – March 2019: Mobile device management, software development (C#, ASP.NET)</p>
    <h3>Aargauer Kunsthaus / Aarau – Civil Service</h3>
    <p>
        November 2017 – February 2018: Digital design (Photoshop, InDesign, SketchUp), accounting, IT support and event technology.
    </p>
    <h3>Swisscom (Schweiz) AG / Ostermundigen – SAP Solution Developer</h3>
    <p>
        August 2012 – October 2017: Software development (ABAP, SAP Gateway, SAPScript, Smart Forms), database management (SAP), system migrations
    </p>
    <h3>Novartis AG / Basel – Apprentice</h3>
    <p>August 2008 – June 2012: IT support, local network maintenance, web development (HTML, php, MySQL)</p>
{% endblock page_content %}
