<!--  about/templates/about/index.html -->
<!--Displays the about me page-->
{% extends "base.html" %}
{% block page_title %}
    <h2>About me</h2>
{% endblock page_title %}
{% block page_content %}
    <!--content of the about me page-->
    <p>
        I’m Alexander, a data science student at the University of Applied Sciences and Arts Northwestern Switzerland and a working student at Yokoy.
    </p>
    <p>
        Don’t worry, the person on the left is not me. It’s AI generated. I made it for a project and I thought it’s a pretty good metaphor for my professional self (let me know if you’re curious about my interpretation of the image).
    </p>
    <p>
        After working in IT for more than 8 years, the global pandemic hit. Having too much time to think, I found myself wondering how stem splitting, the process of separating a recording into different elements like vocals, drums and other instruments, works. It was then when I realized, that there’s an entire class of algorithms unknown to me and that they function on another level than classical programming. “Unacceptable!” I thought, which is why I enrolled.
    </p>
    <p>
        I since have found out how this class of algorithms (machine learning) generally works and how it can be applied to various, practical problems.
    </p>
    <a href="/about/cv">My CV</a>
{% endblock page_content %}
